/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, h1, h2, h3, p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Sidebar Styles */
.sidebar {
    background-color: #004d40; 
    color: #ffffff;
    padding: 20px;
    width: 250px;
    height: 100vh;
    position: fixed;
}

.profile-info {
    text-align: center;
    margin-bottom: 20px;
}

.profile-picture {
    border-radius: 50%;
    width: 80px;
    height: 80px;
    object-fit: cover;
    margin-bottom: 10px;
}
a{
    text-decoration: none;
    color: white;
}

.menu {
    list-style-type: none;
}

.menu li {
    padding: 10px 0;
    cursor: pointer;
}

.menu li.active, .menu li:hover {
    background-color: #00796b;
}

/* Main Content Styles */
.timetable-content {
    margin-left: 250px; 
    padding: 40px;
}

.timetable-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.btn-live, .btn-recorded {
    background-color: #26a69a; 
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    outline: none;
}

.timetable {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.timetable th, .timetable td {
    border: 1px solid #b2dfdb; 
    padding: 10px;
    text-align: left;
}

.timetable th {
    background-color: #00796b; 
    color: white;
}

.timetable tbody tr:nth-child(even) {
    background-color: #e0f2f1; 
}

.timetable-pagination {
    text-align: right;
}

.timetable-pagination button {
    background-color: #26a69a;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 0 5px;
    cursor: pointer;
    border-radius: 5px;
    outline: none;
}

.timetable-pagination button:hover {
    background-color: #00796b; 
