/* Reset some basic elements */
body, h1, p {
    margin: 0;
    padding: 0;
  }
  
  /* Navigation Bar Styles */
  .navbar {
    background-color: #008080; /* Adjust the color to match the example */
    color: white;
    display: flex;
    align-items: center;
    padding: 10px 20px;
  }
  
  .navbar-container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .brand-title {
    font-size: 24px;
    font-weight: bold;
  }
  
  .nav-links {
    list-style: none;
  }
  
  .nav-links li {
    display: inline;
    margin-left: 20px;
  }
  
  .nav-links a {
    text-decoration: none;
    color: white;
    font-weight: bold;
  }
  
  .search-icon {
    cursor: pointer;
  }
  
  /* Hero Section Styles */
  .hero {
    background-image: url('fin.jpg');
    background-size: cover;
    background-position: center;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: black;
  }
  
  .hero-content h1 {
    font-size: 48px;
    margin-bottom: 20px;
  }
  
  .hero-content p {
    font-size: 20px;
    margin-bottom: 40px;
  }
  
  .cta {
    text-decoration: none;
    background-color: #f8ce0b;
    color: black;
    padding: 10px 30px;
    border-radius: 5px;
    transition: background-color 0.3s;
  }
  
  .cta:hover {
    background-color: #e0b409;
  }
  
  /* Footer Styles */
  footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
  }
  
  /* Responsive design */
  @media (max-width: 768px) {
    .nav-links {
      display: none; /* Hide navbar items on small screens */
    }
  
    .navbar-container {
      justify-content: space-between;
    }
  
    .hero-content h1 {
      font-size: 32px;
    }
  
    .hero-content p {
      font-size: 18px;
    }
  }